.header {
  height: 60px;
  border-bottom: 2px solid #000;
  background-color: aliceblue;

  &__container {
    display: flex;
    padding: 1em;
    width: 100%;
    max-width: 1280px;
    min-width: 320px;
    height: 100%;
    margin: 0 auto;
    align-items: center;

    @media (max-width: 768px) {
      justify-content: space-between;
    }
  }
}
